@import url('https://fonts.googleapis.com/css?family=Zeyada|Noto+Serif|Black+Han+Sans');

@mixin display-font(){
  font-family: 'Zeyada';
}

@mixin sans-serif-font(){
  font-family: 'Black Han Sans';
}

@mixin serif-font(){
  font-family: 'Noto Serif';
}
