html, body{
  padding: 0;
  margin: 0;
}
html{
  background: $background;
}

//Homepage

#overlay{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin: 0;
  background: $background;

  webkit-transition: opacity .5s;
  transition: opacity .5s;
  transition-timing-function: ease-out;
  opacity: 100%;
  z-index: 3;

}

.overlay-content{
  display: block;
  width: 100%;
  margin-bottom: 10%;
  p{
    width: 80%;
    margin: 30px auto;
    color: $foreground;
    font-size: 1.4em;
    line-height: 2em;
    @include sans-serif-font;
  }

  #overlayContinue{
    display: block;
    padding: 10px;
    border: none;
    color: $background;
    border-radius: 5px;
    background-color: $foreground;
    @include sans-serif-font;
    font-size: 1.4em;
    margin: auto;

    &:hover{
      cursor: pointer;
    }
  }

  p, #overlayContinue{
    @media screen and (min-width: 800px){
      font-size: 3em;
    }
  }

}

#title{
  color: $red;
  text-align: center;
  font-size: 36px;
  @include display-font;
}

.main-content{
  display: block;
  width: 90%;
  margin:20% auto 10% auto;
  p{
    width: 90%;
    line-height: 1.8em;
    font-size: 1em;
    @include serif-font;
    color: $foreground;
  }
  #noMessages{
    text-align: center;
  }
}

#listen, #recordLink{
  display: block;
  margin: auto;
  padding: 15px;
  max-width: 200px;
  text-align: center;
  font-size: 1em;
  @include sans-serif-font;
}

#listen{
  background: none;
  border: 1px solid $foreground;
  color: $foreground;
}

#recordLink{
  margin-top: 30px;
  background: none;
  border: 1px solid $foreground;
  color: $foreground;
}

@media screen and (max-width: 500px){
  #listen, #recordLink{
    width: 90%;
  }
}

svg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


// Record  Page
#buttonContainer{
  width: 70%;
  margin: auto;
  display: flex;
  align-items: space-around;
  flex-wrap: wrap;
  justify-content: space-around;
}

#record, #cancel{
  padding: 15px;
  margin: 10px;
  box-shadow: none;
  border: 1px solid black;
  @include sans-serif-font();
  background: none;
  font-size: 1.5em;
  color: $red;
  &:hover{
    cursor: pointer;
  }
}

a{
  color: $red;
  @include display-font();
  font-size: 24px;
  font-weight: 200;
  text-decoration: none;
}
