<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Heartfelt</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div class='main-content'>
          <!-- <button id="record">Record</button> -->
          <a href = "/"><h3>Heartfelt.</h3></a>
          <p>
            Sonder is a made up word.  Materialized in some corner of the internet,
            it is defined as, “the realization that each random passerby is living a
            life as vivid and complex as your own.”  There’s an enormous amount of story, and wisdom,
            and heart waiting, invisibly, in each person we pass.  Heartfelt is a
            portal to listen in on the secret stories, the hidden heartbreak,
            the latent lessons, which ground each of us in a shared human experience.
          </p>
          <p>
            Welcome to Heartfelt.  I'm glad you'd like to participate.  You can say whatever you'd like,
            and you can talk for as long or as short as you'd like.  I only ask that you're respectful,
            and that you don't share identifying information like last names, phone numbers,
            or emails.  To give you a place to start thinking, some possible examples of a message are: something you’ve always
            wanted to tell someone but couldn’t, a story about how you overcame an obstacle or learned something new, a
            message to anyone who may be feeling helpless, or just how you're feeling right now.
          </p>
          <p>
            I encourage you not to practice. Once you get an idea, just go for it. Once you press the button below,
            the website will ask for access to your microphone and will begin a countdown.  After you finish your message,
            press 'Submit'.  Please wait a few seconds after you have finished recording to allow time for the last
            part of your message to be streamed to the server.  Thank you for your message!
          </p>
          <div id='buttonContainer'>
            <button id='record'>Record</button>
            <button id='cancel' style="display: none">Cancel</button>
          </div>
        </div>
        <!-- <script src='vendor/recorder.js'></script> -->
        <script src='javascript/bundle.js'></script>
        <!-- <script src='https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js'></script> -->
        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <!-- <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script> -->
    </body>
</html>
