<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Heartfelt</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div class='main-content'>
          <!-- <button id="record">Record</button> -->
          <h3>Heartfelt.</h3>
          <p>
            Hey. Welcome to Heartfelt.  This art installation collects meaningful audio messages from anyone that would like
            to participate.  You can say whatever you'd like, and you can talk for as long or as short as you'd like.
            I only ask that you're respectful, and that you don't share identifying information like last names, phone numbers,
            or emails.  To give you a place to start thinking, some possible examples of a message are: something you’ve always
            wanted to tell someone but couldn’t, advice that you would like to give to those who will listen, or a special story
            from your life that you’d like to share.
          </p>
          <p>
            I encourage you not to practice. Once you get an idea, just go for it. I’m sure you’ll do great.  When you're ready,
            press the button below.
          </p>
          <button id='record'>Record</button>
        </div>
        <!-- <script src='vendor/recorder.js'></script> -->
        <script src='javascript/bundle.js'></script>
        <!-- <script src='https://cdn.jsdelivr.net/binaryjs/0.2.1/binary.min.js'></script> -->
        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <!-- <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script> -->
    </body>
</html>
